{{> header}}
{{> navbar/navbar}}

<style>
  .table td {text-align: center;}
  .table th {text-align: center;}
</style>

<div class="d-print-none" dir="auto">
  <div class="col-md-12">
    <div style="padding: 10px;">
      <div class="headerPage">
        <div class="Title">
          <h2 style="text-align: center; color:white;">
            تقرير المبيعات
            {{#if branch}}
            فرع {{branch.branchname}}
            {{/if}}
          </h2>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header d-print-none p-0">
        <form class="form-horizontal" action="/sales/report" method="GET" id="search-form">
          <div class="form-group row mx-3">
            <label for="branchID" class="col-form-label">
              <p class="select"> الفرع</p>
            </label>
            <div class="col-sm-2">
              {{#if branchedRole}}
              <select id="branchID" name="branchID" class="form-control" disabled>
                <option value="{{branchID._id}}" selected> {{branch.branchname}} </option>
              </select>
              {{else}}
              <select id="branchID" name="branchID" class="form-control" onchange="submitSearchForm()" required>
                <option value="" selected disabled hidden> اختر الفرع </option>
                {{#each branches}}
                <option style="float: right;" value="{{_id}}" {{selected}}>{{branchname}}</option>
                {{/each}}
              </select>
              {{/if}}
            </div>
            <label for="role" class="col-form-label">
              <p class="select"> من</p>
            </label>
            <div class="col-sm-2" dir="ltr">
              <div class="input-group">
                <input type="text" class="form-control" id="fromDate" name="fromDate" value="{{fromDate}}">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
            <label for="role" class="col-form-label">
              <p class="select"> الي</p>
            </label>
            <div class="col-sm-2" dir="ltr">
              <div class="input-group">
                <input type="text" class="form-control" id="toDate" name="toDate" value="{{toDate}}" />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-1 ">
              <button type="button" class="btnclass width6rem p-0" onclick="submitSearchForm()">
                بحث
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-body ">
        {{#if sales.length}}
        <div class="table-responsive">
          <table id="add-row" class="display table table-striped table-hover ">
            <thead>
              <tr>
                <th scope="col">
                  <p class="tableheader">#</p>
                </th>
                <th scope="col">
                  <p class="tableheader"> اسم الصنف </p>
                </th>
                <th scope="col">
                  <p class="tableheader"> العدد المباع </p>
                </th>
                <th scope="col">
                  <p class="tableheader"> اجمالي السعر </p>
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each sales}}
              <tr>
                <th scope="row">{{incremented @index}}</th>
                <td>{{itemName}}</td>
                <td>{{boughtquantity}}</td>
                <td>{{totalprice}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <center>
            {{#if total}}
            <p class="select text-dark"> إجمالي المبيعات <strong id="sales-total">{{ total }}</strong></p>
            {{/if}}
            {{#ifEquals total 0}}
            <p class="select"> إجمالي المبيعات <strong id="sales-total">0.00</strong></p>
            {{/ifEquals}}
          </center>
        </div>
        <div class="card-footer">
          <center>
            <button class="btnclass" id="print-button">اطبع</button>
          </center>
        </div>
        {{else}}
        <div class="alert alert-danger">
          <center>
            <h2>لا توجد بيانات لعرضها .. جرب تغيير التاريخ</h2>
          </center>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{> print/salesReport}}
{{> footer}}
<script>
  $('#fromDate').datetimepicker({
    format: 'MM/DD/YYYY',
    icons: {
      time: 'fa fa-clock',
      date: 'fa fa-calendar',
      up: 'fa fa-chevron-up',
      down: 'fa fa-chevron-down',
      previous: 'fa fa-chevron-left',
      next: 'fa fa-chevron-right',
      today: 'fa fa-check',
      clear: 'fa fa-trash',
      close: 'fa fa-times'
    }
  });

  $('#toDate').datetimepicker({
    format: 'MM/DD/YYYY',
    icons: {
      time: 'fas fa-clock',
      date: 'fa fa-calendar',
      up: 'fa fa-chevron-up',
      down: 'fa fa-chevron-down',
      previous: 'fa fa-chevron-left',
      next: 'fa fa-chevron-right',
      today: 'fa fa-check',
      clear: 'fa fa-trash',
      close: 'fa fa-times'
    }
  }).on('dp.change', () => {
    submitSearchForm();
  });

  const submitSearchForm = () => {
    let fromDate = $('#fromDate').val();
    let toDate = $('#toDate').val();
    let form = $('#search-form');

    if (fromDate && toDate) {
      if (fromDate > toDate) {
        $.notify({
          title: ' الرجاء اختيار تاريخ صحيح ',
          message: ''
        }, {
          type: 'danger',
          placement: {
            align: 'center'
          },
          delay: 2000,
        });
      } else {
        form.submit();
      }
    }
  }
</script>

{{> footer/salesFooter}}