{{> header}}
{{> navbar/navbar}}
<div dir="auto">
  <div class="col-md-12 d-print-none">
      <div class="headerPage">
    <div class="Title">
      <h2 style="text-align: center;"  style="text-align: center; color:white;">
          عرض المخزون
          {{#if branch}}
          فرع {{branch.branchname}}
          {{/if}}
        </h2>
    </div>
    </div>
    <div class="card">
      <div class="card-header p-0">
        <form class="form-horizontal" action="/store" method="GET" id="search-form">
          <div class="form-group row mx-3">
            <label for="role" class="col-form-label">  <p class="select">اختر الفرع  </p></label>
            <div class="col-sm-2">
              {{#if branchedRole}}
            <select id="branchID" name="branchID" class="form-control" disabled>
              <option value="{{branchID._id}}" selected> {{branchID.branchname}} </option>
            </select>
            {{else}}
            <select id="branchID" name="branchID" class="form-control" onchange="submitSearchForm()" required>
              <option value="" selected disabled hidden> اختر الفرع </option>
              {{#each branches}}
              <option value="{{_id}}" {{selected}}>{{branchname}}</option>
              {{/each}}
            </select>
            {{/if}}
            </div>
            <div class="col-sm-1">
              <button type="submit" class="btnclass width6rem p-0"> بحث </button>
            </div>
            <div class="col-md-3 col-12">
              <button class="btnclass btn-round width6rem p-0" id="print-button"> اطبع</button>
            </div>
            {{#if canResetData}}
            <div class="col-sm-1" style="position:absolute; left: 100px;">
              <button class="btnclass " onclick="resetStore()" type="button"> تصفير المخزون </button>
            </div>
            {{/if}}
          </div>
        </form>
      </div>
      <div class="card-body p-0">
        {{#if store.length}}
        <div class="table-responsive">
          <table id="store-table" class="display table table-striped table-hover">
            <thead>
              <tr>
                <th > <p class="tableheader">#</p> </th>
                <th > <p class="tableheader"> اسم الصنف</p> </th>
                <th > <p class="tableheader">العدد المشترى</p> </th>
                <th > <p class="tableheader">العدد المضاف</p> </th>
                <th > <p class="tableheader">العدد المباع</p> </th>
                <th > <p class="tableheader"> العدد الحالي</p> </th>
                <th > <p class="tableheader">العدد الحالي الفعلي</p> </th>
                <th > <p class="tableheader"> العجز</p> </th>
                <th > <p class="tableheader"> سعر الصنف</p> </th>
                <th > <p class="tableheader"> قيمة العجز</p> </th>
              </tr>
            </thead>
            <tbody>
              {{#each store}}
              <tr class="d-income-tr">
                <th scope="row">{{incremented @index}}</th>
                <td hidden><input type="text" id="item-id" value="{{ itemID._id }}"> </td>
                <td><input type="text" class="form-control" value="{{itemID.itemName}}"
                  disabled>
                <td hidden><input type="text" class="origin-bought-quantity" value="{{ boughtquantity }}" hidden>
                </td>
                <td><input type="text" class="form-control bought-quantity" value="{{ boughtquantity }}"
                  disabled>
                </td>
                <td><input type="number" class="form-control added-quantity" value="0" {{disabled}}> </td>
                <td><input type="text" class="form-control sold-quantity" value="{{ soldquantity }}"
                  disabled>
                <td><input type="text" class="form-control current-quantity" value="{{ currentquantity }}"
                  disabled>
                </td>
                <td><input type="number" class="form-control real-current-quantity" value="{{ realcurrentquantity }}">
                </td>
                <td><input type="text" class="form-control shortage" value="{{ shortage }}" disabled>
                </td>
                <td><input type="text" class="form-control item-price" value="{{ itemID.price }}" disabled>
                </td>
                <td><input type="text" class="form-control shortage-value" value="{{ multiply itemID.price  shortage }}" disabled>
                </td>
                <td>
                    <div class="form-button-action">
                        <button class="btn btn-primary btn-lg add-button" onclick="sendData(this)" {{disabled}}> أضف </button>
                        </button>
                    </div>
                </td>
              </tr>
              {{/each}}
              <tr class="d-income-tr">
              <td>المجموع</td>
              <td><input class="form-control" disabled value="--"> </td>
              <td><input class="form-control" disabled value="--"> </td>
              <td><input class="form-control" disabled value="--"> </td>
              <td><input class="form-control" disabled value="--"> </td>
              <td><input class="form-control" disabled value="--"> </td>
              <td><input class="form-control" disabled value="--">
              </td>
              <td><input class="form-control" disabled value="--"> </td>
              <td><input class="form-control" disabled value="--"> </td>
              <td><input class="form-control shortage-value-total" value="{{checkOrZeror shortageValueTotal }}" disabled> </td>
            </tr>
            </tbody>
          </table>
        </div>
        {{else}}
        <div class="alert alert-danger">
          <center>
            <h2 class="select">اختر فرعا لعرض بياناته</h2>
          </center>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{> print/storeView}}
{{> footer}}
{{> footer/storeFooter}}