{{> header}}
{{> navbar/navbar}}

<div dir="auto">
  <div class="col-md-12">
    <div>
      <div class="headerPage">
        <div class="Title">
          <h2>
            عرض الفروع
          </h2>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12">
            <form class="form-horizontal" action="/branches" method="GET">
              <div class="form-group row">
                <label for="role" class="col-form-label">
                  <p class="select"> اختر الشركة </p>
                </label>
                <div class="col-7 col-md-2">
                  <select id="companyID" name="companyID" class="form-control">
                    {{#unless currentCompany}}
                    <option value="" selected>اختار...</option>
                    {{/unless}}
                    {{#each companies}}
                    <option value="{{_id}}" {{selected}} class="hoverOption">{{companyname}}</option>
                    {{/each}}
                  </select>
                </div>
                <div>
                  <button class="btnclass width6rem p-0"> بحث </button>
                </div>
              </div>
            </form>
          </div>
          <div class="Center btnclass">
            <a class="" href="/branches/add">
              أضف فرع جديد
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="add-row" class="display table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">
                  <p class="tableheader">#
                </th>
                <th scope="col">
                  <p class="tableheader">اسم الفرع </p>
                </th>
                <th scope="col">
                  <p class="tableheader"> اسم الشركة </p>
                </th>
                <th scope="col">
                  <p class="tableheader">اخفاء/اظهار</p>
                </th>
                <th scope="col">
                  <p class="tableheader">تعديل بيانات الفرع</p>
                </th>

              </tr>
            </thead>
            <tbody>
              {{#each branches}}
              <tr>
                <td> {{@index}}</td>
                <td>{{branchname}}</td>
                <td>{{companyID.companyname}}</td>
                <td>
                  <input type="checkbox" {{#unless hidden}}checked{{/unless}} data-toggle="toggle" data-onstyle="success" data-offstyle="danger" onchange="toggleBranchHidden('{{_id}}', this.checked)">
                </td>
                <td>
                  <div class="form-button-action">
                    <a type="button" data-toggle="tooltip" href="/branches/{{_id}}/edit"
                      class="btn btn-primary btn-lg" data-original-title="تعديل بيانات الفرع ">
                      <i class="fas fa-pencil-alt"></i>
                    </a>
                  </div>
                </td>

              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination mt-2">
              {{#paginate pagination type="previous"}}
              <li {{#if disabled}} class="disabled page-item" {{/if}}><a class="page-link"
                  href="?companyID={{../companyID}}&p={{n}}">السابق</a></li>
              {{/paginate}}
              {{#paginate pagination type="middle" limit="3"}}
              <li {{#if active}} class="active page-item" {{/if}}><a class="page-link"
                  href="?companyID={{../companyID}}&p={{n}}">{{n}}</a></li>
              {{/paginate}}
              {{#paginate pagination type="next"}}
              <li {{#if disabled}} class="disabled page-item" {{/if}}><a class="page-link"
                  href="?companyID={{../companyID}}&p={{n}}">التالي</a></li>
              {{/paginate}}
            </ul>
          </nav>
      </div>
    </div>
  </div>
  
  {{> footer}}
  {{> footer/branchFooter}}