{{> header}}
{{> navbar/navbar}}

<style>

</style>

<div class="container col-md-12" dir="auto">
  <div class="col-md-12 p-0">
    <div class="headerPage">
      <div class="Title">
        <h2>
          عرض الفواتير
          {{#if branch}}
          فرع {{branch.branchname}}
          {{/if}}
        </h2>
      </div>
    </div>
    <div class="card">
      <div class="card-header px-0">
        <form class="form-horizontal" action="/invoice" method="GET" id="search-form">
          <div class="form-group row mx-3">
            <label for="branchID" class="col-form-label pt-0">
              <p class="select"> الفرع</p>
            </label>
            <div class="col-sm-2">
              {{#if branchedRole}}
              <select id="branchID" name="branchID" class="form-control" disabled>
                <option value="{{branchID._id}}" selected> {{branchID.branchname}} </option>
              </select>
              {{else}}
              <select id="branchID" name="branchID" class="form-control" onchange="submitSearchForm()" required>
                <option value="" selected disabled hidden> اختر الفرع </option>
                {{#each branches}}
                <option value="{{_id}}" {{selected}}>{{branchname}}</option>
                {{/each}}
              </select>
              {{/if}}
            </div>
            <label for="role" class="col-form-label pt-0">
              <p class="select"> من</p>
            </label>
            <div class="col-sm-2" dir="ltr">
              <div class="input-group">
                <input type="text" class="form-control" id="fromDate" name="fromDate" value="{{fromDate}}">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
            <label for="role" class="col-form-label pt-0">
              <p class="select"> إلى</p>
            </label>
            <div class="col-sm-2" dir="ltr">
              <div class="input-group">
                <input type="text" class="form-control" id="toDate" name="toDate" value="{{toDate}}" />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="role" class="col-form-label col-md-4 col-12">
                <p class="select"> حالة الضمان </p>
                <div class="">
                  <select id="warrantyStatus" name="warrantyStatus" class="form-control">
                    {{#each warrantyStatuses}}
                    <option value="{{value}}" {{selected}}>{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </label>
              <label for="role" class="col-form-label col-md-4 col-12">
                <p class="select"> نوع الفاتورة </p>
                <div class="">
                  <select id="taxStatus" name="taxStatus" class="form-control">
                    {{#each taxStatuses}}
                    <option value="{{value}}" {{selected}}>{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </label>
              <label for="role" class="col-form-label col-4">
                <p class="select"> الوصف </p>
                <div class="">
                  <div class="input-group">
                    <input type="text" class="form-control" name="description" value={{description}}>
                  </div>
                </div>
              </label>
              <div class="col-sm-1">
                <button class="btnclass width6rem p-0"> بحث </button>
              </div>
            </div>
        </form>
      </div>
      <div class="card-header px-0">
        <div class="form-group row mx-3">
          <div class="col-sm-12">
            <button id="pdf-export-btn" class="btn btn-primary" style="margin: 10px 0;">
              <i class="fa fa-file-pdf"></i> تصدير صور الفواتير
            </button>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table id="add-row" class=" table table-striped">
          <thead>
            <tr>
              <th>
                <p class="tableheader"> رقم القيد </p>
              </th>
              <th>
                <p class="tableheader"> التاريخ </p>
              </th>
              <th>
                <p class="tableheader"> المبلغ </p>
              </th>
              <th>
                <p class="tableheader"> سنوات الضمان </p>
              </th>
              <th style="width:200px">
                <p class="tableheader"> الوصف </p>
              </th>
              <th>
                <p class="tableheader"> الفرع </p>
              </th>
              <th>
                <p class="tableheader"> الصورة </p>
              </th>
              <th>
                <p class="tableheader"> تفاصيل </p>
              </th>
              <th>
                <p class="tableheader"> تعديل </p>
              </th>
              <th>
                <p class="tableheader"> حذف </p>
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each invoices}}
            <tr>
              <th scope="row">{{serialNumber}}</th>
              <td>{{formatDate date}}</td>
              <td>{{amount}}</td>
              <td>{{warrantyYears}}</td>
              <td>{{description}}</td>
              <td>{{branchID.branchname}}</td>
              <td>
                <img src="/{{image}}" width="100px" height="100px" data-toggle="modal"
                  data-target=".bd-example-modal-lg" data-whatever="{{image}}" class="p-2 cursor"></td>
              <td>
                <div class="form-button-action" style="align-items: center;">
                  <a class="btn btn-primary btn-lg" type="button" data-toggle="tooltip" href="/invoice/{{_id}}"
                    data-original-title=" بيانات الفاتورة ">
                    <i class="fa fa-info"></i>
                  </a>
                </div>
              </td>
              <td>
                {{#if canEdit}}
                <a class="btn btn-primary btn-lg" href="/invoice/{{_id}}/edit">
                  <i class="fa fa-pen"></i>
                </a>
                {{/if}}
              </td>
              <td>
                {{#if canDelete}}
                <div class="form-button-action">
                  <a class="btn btn-danger2 text-white" onclick="deleteInvoice(`{{_id}}`)" data-toggle="tooltip" title=""
                   data-original-title="حذف الفاتورة">
                    <i class="fa fa-times"></i>
                  </a>
                </div>
                {{/if}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="modal bd-example-modal-lg fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true" id="modal-image">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-content">
            <img id="modal-image-content" width="100%" height="100%" style="object-fit: cover;">
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination mt-2">
          {{#paginate pagination type="previous"}}
          <li {{#if disabled}} class="disabled page-item" {{/if}}><a class="page-link"
              href="?branchID={{../branchID}}&fromDate={{../fromDate}}&toDate={{../toDate}}&description={{../description}}&warrantyStatus={{../warrantyStatus}}&taxStatus={{../taxStatus}}&p={{n}}">السابق</a>
          </li>
          {{/paginate}}
          {{#paginate pagination type="middle" limit="3"}}
          <li {{#if active}} class="active page-item" {{/if}}><a class="page-link"
              href="?branchID={{../branchID}}&fromDate={{../fromDate}}&toDate={{../toDate}}&description={{../description}}&warrantyStatus={{../warrantyStatus}}&taxStatus={{../taxStatus}}&p={{n}}">{{n}}</a>
          </li>
          {{/paginate}}
          {{#paginate pagination type="next"}}
          <li {{#if disabled}} class="disabled page-item" {{/if}}><a class="page-link"
              href="?branchID={{../branchID}}&fromDate={{../fromDate}}&toDate={{../toDate}}&description={{../description}}&warrantyStatus={{../warrantyStatus}}&taxStatus={{../taxStatus}}&p={{n}}">التالي</a>
          </li>
          {{/paginate}}
        </ul>
      </nav>
    </div>
  </div>
</div>

{{> footer}}

<script>
  $('#fromDate').datetimepicker({
    format: 'MM/DD/YYYY',
    icons: {
      time: 'fa fa-clock',
      date: 'fa fa-calendar',
      up: 'fa fa-chevron-up',
      down: 'fa fa-chevron-down',
      previous: 'fa fa-chevron-left',
      next: 'fa fa-chevron-right',
      today: 'fa fa-check',
      clear: 'fa fa-trash',
      close: 'fa fa-times'
    }
  }).on('dp.change', () => {
    adjustEndDateIfNeeded();
  });

  $('#toDate').datetimepicker({
    format: 'MM/DD/YYYY',
    icons: {
      time: 'fas fa-clock',
      date: 'fa fa-calendar',
      up: 'fa fa-chevron-up',
      down: 'fa fa-chevron-down',
      previous: 'fa fa-chevron-left',
      next: 'fa fa-chevron-right',
      today: 'fa fa-check',
      clear: 'fa fa-trash',
      close: 'fa fa-times'
    }
  }).on('dp.change', () => {
    submitSearchForm();
  });

  const adjustEndDateIfNeeded = () => {
    let fromDate = $('#fromDate').val();
    let toDate = $('#toDate').val();

    if (fromDate && toDate && fromDate > toDate) {
      let fromDateObj = new Date(fromDate);
      let nextDay = new Date(fromDateObj);
      nextDay.setDate(fromDateObj.getDate() + 1);
      
      // Format the next day as MM/DD/YYYY
      let month = (nextDay.getMonth() + 1).toString().padStart(2, '0');
      let day = nextDay.getDate().toString().padStart(2, '0');
      let year = nextDay.getFullYear();
      let nextDayFormatted = month + '/' + day + '/' + year;
      
      // Update the toDate input
      $('#toDate').val(nextDayFormatted);
    }
  };

  const submitSearchForm = () => {
    let branchID = $('#branchID').val();
    let fromDate = $('#fromDate').val();
    let toDate = $('#toDate').val();
    let form = $('#search-form');

    if (fromDate && toDate && branchID) {
      form.submit();
    }
  }

  // PDF Export button handler
  $('#pdf-export-btn').on('click', function() {
    let branchID = $('#branchID').val();
    let fromDate = $('#fromDate').val();
    let toDate = $('#toDate').val();
    let warrantyStatus = $('#warrantyStatus').val();
    let taxStatus = $('#taxStatus').val();
    let description = $('input[name="description"]').val();

    // Build query parameters
    let params = new URLSearchParams();
    if (branchID) params.append('branchID', branchID);
    if (fromDate) params.append('fromDate', fromDate);
    if (toDate) params.append('toDate', toDate);
    if (warrantyStatus) params.append('warrantyStatus', warrantyStatus);
    if (taxStatus) params.append('taxStatus', taxStatus);
    if (description) params.append('description', description);

    // Open PDF export URL
    window.location.href = '/invoice/pdf-export?' + params.toString();
  });

</script>
{{> footer/invoiceFooter}}