{{> header}}
{{> navbar/navbar}}
<div dir="auto">
  <div class="col-md-12">
    <div class="headerPage">
      <div class="Title">
        <h2 style="text-align: center;">
          عرض الموظفين
        </h2>
      </div>
    </div>
    <div>
      <div>
        <form class="form-horizontal" action="/employees" method="GET" id="search-form">
          <div class="form-group row">
            <br>
            <label for="branchID" class="col-form-label pt-0">
              <p class="select"> اختر الفرع </p>
            </label>
            <div class="col-sm-2">
              <select id="branchID" name="branchID" class="form-control" onchange="submitSearchForm()">
                {{#unless branchID}}
                <option value="" selected>اختار...</option>
                {{/unless}}
                {{#each branches}}
                <option value="{{_id}}" {{selected}}>{{branchname}}</option>
                {{/each}}
              </select>
            </div>
            <br>
            <div>
              <button class=" btnclass width6rem p-0"> بحث </button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table id="add-row" class="display table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">
                  <p class="tableheader"> الرقم الوظيفي </p>
                </th>
                <th scope="col">
                  <p class="tableheader"> اسم الموظف </p>
                </th>
                <th scope="col">
                  <p class="tableheader"> الفرع </p>
                </th>
                <th scope="col">
                  <p class="tableheader"> الشركة </p>
                </th>
                <th scope="col">
                  <p class="tableheader"> الجنسية </p>
                </th>
                <th scope="col">
                  <p class="tableheader"> رقم الهوية/الإقامة </p>
                </th>
                <th scope="col">
                  <p class="tableheader"> تاريخ انتهاء الإقامة </p>
                </th>
                <th scope="col">
                  <p class="tableheader"> الحالة </p>
                </th>
                <th scope="col">
                  <p class="tableheader"> تعديل </p>
                </th>
                <th scope="col">
                  <p class="tableheader"> حذف </p>
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each employees}}
              <tr>
                <td>{{check employeeID}}</td>
                <td>{{employeeName}}</td>
                <td>{{check branchID.branchname}}</td>
                <td>{{check companyID.companyname}}</td>
                <td>{{check nationality}}</td>
                <td>{{check idNumber}}</td>
                <td>{{formatDate residencyExpiryDate}}</td>
                <td>{{check statusMessage}}</td>
                <td>
                  <div class="form-button-action">
                    <a type="button" href="/employees/{{_id}}/edit" class="btn btn-primary btn-lg"
                      data-original-title="تعديل بيانات الموظف">
                      <i class="fas fa-pencil-alt"></i>
                    </a>
                  </div>
                </td>
                <td>
                  <div class="form-button-action">
                    <a type="button" onclick="deleteEmployee(`{{_id}}`)" data-toggle="tooltip" title=""
                      class="btn btn-danger2" data-original-title="حذف الموظف">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination mt-2">
              {{#paginate pagination type="previous"}}
              <li {{#if disabled}} class="disabled page-item" {{/if}}><a class="page-link"
                  href="?branchID={{../branchID}}&companyID={{../companyID}}&p={{n}}">السابق</a></li>
              {{/paginate}}
              {{#paginate pagination type="middle" limit="3"}}
              <li {{#if active}} class="active page-item" {{/if}}><a class="page-link"
                  href="?branchID={{../branchID}}&companyID={{../companyID}}&p={{n}}">{{n}}</a></li>
              {{/paginate}}
              {{#paginate pagination type="next"}}
              <li {{#if disabled}} class="disabled page-item" {{/if}}><a class="page-link"
                  href="?branchID={{../branchID}}&companyID={{../companyID}}&p={{n}}">التالي</a></li>
              {{/paginate}}
            </ul>
          </nav>
      </div>
    </div>
  </div>
</div>

{{> footer}}

{{> footer/employeeFooter}}