<style>
  .table {
    border-collapse: collapse;
    color: black;
  }

  th p {
    color: black;
  }

  .table td,
  .table th {
    height: 75% !important;
    padding: .2rem !important;
    text-align: center;
  }

  #page-title {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    color: black;
    height: 75px;
    width: 680px;
    margin: 50px auto;
  }

  .tail-border {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 60px;
    width: 320px;
    margin: 50px auto;
  }

  .table-bordered td,
  .table-bordered th {
    text-align: center;
    border-color: black !important;
  }
</style>

<div class="card-body d-none d-print-block" style="padding-right: 0; padding-left: 0;" dir="rtl">
  <div id="page-title" class="headerPage">
    <h2>
      يوميات {{branch.branchname}} لشهر {{month}}
    </h2>
  </div>

  <div>
    <table id="daily-income-printed-table" class="table table-bordered">
      <thead>
        <tr>
          <th width="10%"> التاريخ</th>
          <th width="10%"> نقد</th>
          <th width="10%">دخل خدمات</th>
          <th width="10%"> دخل إضافي وتلفيات </th>
          <th width="10%"> مدى / بنوك</th>
          <th width="10%"> فيزا / ماستر </th>
          <th width="10%"> تسوية بنكية</th>
          <th width="10%"> الموازنة</th>
          <th width="10%"> مجموع اليومية</th>
        </tr>
      </thead>

      <tbody>
        {{#each data}}
        <tr>
          <td>{{formatDate date}}</td>
          <td class="branch-id" hidden>{{branchID._id}}</td>
          <td class="income">{{toFixed cash}}</td>
          <td class="rent">{{toFixed coffeeShop}}</td>
          <td class="expenses">{{toFixed addedIncome}}</td>
          <td class="bank-ratio">{{toFixed mada}}</td>
          <td class="salaries">{{toFixed visa}}</td>
          <td class="saudization-salary">{{toFixed bankTransfer}}</td>
          <td class="bills">{{toFixed arbitrage}}</td>
          <td class="bills1">{{toFixed dailyTotal}}</td>
        </tr>
        {{/each}}
        <tr class="d-income-tr">
          <td width="10%">المجموع</td>
          <td class="total-cash">{{toFixed totals.cash}}</td>
          </td>
          <td width="10%" class="total-coffe-shop">{{toFixed totals.coffeeShop}}</td>
          <td width="10%" class="total-added-income">{{toFixed totals.adddedIncome}}</td>
          <td width="10%" class="total-mada">{{toFixed totals.mada}}</td>
          <td width="10%" class="total-visa">{{toFixed totals.visa}}</td>
          <td width="10%" class="total-bank-transfer">{{toFixed totals.bankTransfer}}</td>
          <td width="10%" class="total-arbitrage">{{toFixed totals.arbitrage}}</td>
          <td width="10%" class="total-daily-total">{{toFixed totals.dailyTotal}}</td>
        </tr>
      </tbody>
    </table>

    <div class="mt-1">
      <center>
        <h2 style="font-weight: bold; color: black;">
          نسب عمليات البنك
        </h2>
      </center>
    </div>

    <div class="row">
      <table id="daily-income-table" class="table table-bordered inline-table col-6">
        <tbody>
          <tr>
            <th>نسبة مدى </th>
            <th>مجموع نسبة مدى</th>
            <th>قيمة الضريبة  (%)</th>
            <th>إجمالي نسبة مدى</th>
          </tr>
          <tr>
            <td>{{checkOrZeror taxValue.madaRatio}}</td>
            <td>{{checkOrZeror taxValue.madaRatioSum}}</td>
            <td>{{checkOrZeror taxValue.madaTax}}</td>
            <td>{{checkOrZeror taxValue.madaRatioTotal}}</td>
          </tr>
        </tbody>
      </table>

      <table id="daily-income-table" class="table table-bordered inline-table col-6">
        <tbody>
          <tr>
            <th>نسبة البنك للفيزا</th>
            <th>مجموع نسبة الفيزا </th>
            <th>قيمة الضريبة  (%)</th>
            <th>إجمالي نسبة الفيزا</th>
          </tr>
          <tr>
            <td>{{checkOrZeror taxValue.visaRatio}}</td>
            <td>{{checkOrZeror taxValue.visaRatioSum}}</td>
            <td>{{checkOrZeror taxValue.visaTax}}</td>
            <td>{{checkOrZeror taxValue.visaRatioTotal}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <center>
          <div style="border: 1px solid black; font-size: x-large; color: black;">
            <h4>إجمالي النسبة</h4>
            <p><strong>{{checkOrZeror taxValue.taxRatioTotal}}</strong></p>
          </div>
        </center>
      </div>
      <div class="col-4"></div>
    </div>

    <div class="row" style="margin-top: 60px; font-size: x-large; color: black;">
      <div class="col-md-6">
        <center>
          <div class="col-md-6 p-2 " style="border: 1px solid black;">
            <h4>إجمالي الرواتب</h4>
            <p><strong>{{financials.totalSalaries}}</strong></p>
          </div>
        </center>
      </div>
      <div class="col-md-6">
        <center>
          <div class="col-md-6 p-2" style="border: 1px solid black;">
            <h4> إجمالي المصروفات </h4>
            <p><strong>{{financials.totalExpenses}}</strong></p>
          </div>
        </center>
      </div>
    </div>
  </div>
</div>