<style>
  .table { border-collapse: collapse; color: black; } th p { color: black; }
  .table td, .table th { height: 75% !important; padding: .2rem !important;
  text-align: center; } #page-title { border: 1px solid black; display: flex;
  justify-content: center; align-items: center; padding: auto; color: black;
  height: 75px; width: 680px; margin: 50px auto; } .tail-border { border: 1px
  solid black; display: flex; justify-content: center; align-items: center;
  color: black; height: 60px; width: 320px; margin: 50px auto; } .table-bordered
  td, .table-bordered th { text-align: center; border-color: black !important; }
  /* Page numbering - only using @page rule */ @media print { @page {
  @bottom-center { content: counter(page); font-size: 18px; color: black;
  margin-bottom: 20px; font-weight: bold; } } }
</style>

<div class="d-none d-print-block" dir="rtl" style="border: 1px solid white;">
  <div dir="rtl" id="page-title">
    <h2>
      تقرير المخزن
      {{#if branch}}
        فرع
        {{branch.branchname}}
      {{/if}}
      بتاريخ
      {{today}}
    </h2>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="table-responsive">
          <table id="report-table" class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">
                  <p> # </p>
                </th>
                <th scope="col">
                  <p> اسم الصنف</p>
                </th>
                <th scope="col">
                  <p> العدد المشترى </p>
                </th>
                <th scope="col">
                  <p> العدد المباع</p>
                </th>
                <th scope="col">
                  <p> العدد الحالي </p>
                </th>
                <th scope="col">
                  <p>العدد الحالي الفعلي</p>
                </th>
                <th scope="col">
                  <p> العجز</p>
                </th>
                <th scope="col">
                  <p> سعر الصنف</p>
                </th>
                <th scope="col">
                  <p> قيمة العجز</p>
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each printedData}}
                <tr>
                  <th scope="row">{{incremented @index}}</th>
                  <td>{{itemID.itemName}}</td>
                  <td>{{boughtquantity}}</td>
                  <td>{{soldquantity}}</td>
                  <td>{{currentquantity}}</td>
                  <td>{{realcurrentquantity}}</td>
                  <td>{{shortage}}</td>
                  <td>{{itemID.price}}</td>
                  <td>{{multiply itemID.price shortage}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Of Printed Part -->